<div class="container">
  <h4 class="p3 text-primary text-center">{{playerdata.title}}</h4>
  <table class="table table-bordered">
    <tr>
      <th>Rank</th>
      <th>Player Name</th>
      <th>Score</th>
      <th>Fours</th>
      <th>Sixes</th>
      <th>Strike Rate</th>
      <th>Innings</th>
      <th>Team</th>
      <th>Opponent</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Result</th>
    </tr>
    <tr *ngFor="let player of playerdata.data">
      <td>{{player.rank}}</td>
      <td>{{player.player_name}}</td>
      <td>{{player.score}}</td>
      <td>{{player.fours}}</td>
      <td>{{player.sixes}}</td>
      <td>{{player.strike_rate}}</td>
      <td>{{player.innings}}</td>
      <td>{{player.team}}</td>
      <td>{{player.opponent}}</td>
      <td>{{player.venue}}</td>
      <td>{{player.date}}</td>
      <td>{{player.result}}</td>
    </tr>
  </table>
  
</div>